openapi: 3.2.0
info:
  title: Quay Container Registry Team API
  description: The Quay API provides programmatic access to the Quay container image registry.
  version: 1.0.0
  contact:
    name: Red Hat Quay Support
    url: https://access.redhat.com/products/red-hat-quay/
  termsOfService: https://quay.io/tos
servers:
- url: https://quay.io/api/v1
  description: Quay.io hosted production server
security:
- OAuth2: []
tags:
- name: Team
  description: Manage organization teams, team membership, team roles, and team permissions on repositories.
paths:
  /organization/{orgname}/team/{teamname}:
    put:
      tags:
      - Team
      summary: Create or update a team
      operationId: updateOrganizationTeam
      parameters:
      - name: orgname
        in: path
        required: true
        schema:
          type: string
      - name: teamname
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Team updated
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://quay.io/oauth/authorize
          tokenUrl: https://quay.io/oauth/access_token
          scopes:
            repo:read: Read repositories
            repo:write: Write repositories
            repo:admin: Administer repositories
            org:admin: Administer organizations
            user:read: Read user info
            user:admin: Administer the user
externalDocs:
  description: Quay API Explorer and Documentation
  url: https://docs.quay.io/api/
