openapi: 3.2.0
info:
  title: Quay Container Registry Robot API
  description: The Quay API provides programmatic access to the Quay container image registry.
  version: 1.0.0
  contact:
    name: Red Hat Quay Support
    url: https://access.redhat.com/products/red-hat-quay/
  termsOfService: https://quay.io/tos
servers:
- url: https://quay.io/api/v1
  description: Quay.io hosted production server
security:
- OAuth2: []
tags:
- name: Robot
  description: Manage robot accounts used for automated repository access including credentials and permissions.
paths:
  /organization/{orgname}/robots/{robot_shortname}:
    put:
      tags:
      - Robot
      summary: Create a robot account
      operationId: createOrgRobot
      parameters:
      - name: orgname
        in: path
        required: true
        schema:
          type: string
      - name: robot_shortname
        in: path
        required: true
        schema:
          type: string
      responses:
        '201':
          description: Robot created
components:
  securitySchemes:
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://quay.io/oauth/authorize
          tokenUrl: https://quay.io/oauth/access_token
          scopes:
            repo:read: Read repositories
            repo:write: Write repositories
            repo:admin: Administer repositories
            org:admin: Administer organizations
            user:read: Read user info
            user:admin: Administer the user
externalDocs:
  description: Quay API Explorer and Documentation
  url: https://docs.quay.io/api/
